.part2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:663px;
    padding: 160px 0 130px 0;
    background-size: cover;
    .part2-cups{
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:70%;
        align-self: center;
    }

}

