.icons-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #daa37f;
}
.best-coffee-container{
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: flex-start;
    margin-left:-120px;
    height: 650px;
}