@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing:border-box;
  min-height: 100%;
  position:relative;
  padding-bottom: 35rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
