.freshBeans{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    background-color: #fff;
    overflow: hidden;
    margin:0;
    margin-top: -5px;
    div{
        background-size: cover;
    }
}